<footer>
	<p>
		The content &amp; design of this website are copyright &copy; 2002 &ndash; 2013 Matt Hubing unless otherwise noted.<br>
		Built with Middleman. Hosted by Dreamhost. Made in the Lone Star State.
	</p>
</footer>