---
title: About
description: 
---

<% content_for :headassets do # assets for <head> %>
<% end %>

<h1><%= data.page.title %></h1>
<p>
  <img src="http://twitter.com/api/users/profile_image/matthubing?size=original" alt="Matt Hubing" style="float:left;margin:0 2em 2em 0">
  <a rel="me" href="http://matthubing.com">Matt Hubing</a>
  <small class="pronounciation">(hue &bull; bing)</small>
  is a UX designer working at
  <a href="http://fidelity.com/">Fidelity Investments</a>
  in
  <span class="adr">
    <span class="city">Grapevine</span>,
    <span class="state">Texas</span>
  </span>. He enjoys writing code (<a class="html" href="https://en.wikipedia.org/wiki/HTML">HTML</a>, <a class="css" href="https://en.wikipedia.org/wiki/CSS">CSS</a>, <a class="js" href="https://en.wikipedia.org/wiki/Javascript">JavaScript</a>, <a href="https://en.wikipedia.org/wiki/Ruby_(programming_language)">Ruby</a>) and designing web applications.
</p>

<a class="btn" href="#">A button</a>
<a class="btn btn-primary" href="#">A button</a>
<a class="btn btn-tertiary" href="#">A button</a>
<a class="btn disabled" href="#">A button</a>
<a class="btn btn-small" href="#">A button</a>
<a class="btn btn-small btn-primary" href="#">A button</a>
<a class="btn btn-small btn-tertiary" href="#">A button</a>
<a class="btn btn-small disabled" href="#">A button</a>
<a class="btn btn-large" href="#">A button</a>
<a class="btn btn-large btn-primary" href="#">A button</a>
<a class="btn btn-large btn-tertiary" href="#">A button</a>
<a class="btn btn-large disabled" href="#">A button</a>

<button class="btn" href="#">A button</button>
<button class="btn btn-primary" href="#">A button</button>
<button class="btn btn-tertiary" href="#">A button</button>
<button class="btn disabled" href="#">A button</button>
<button class="btn btn-small" href="#">A button</button>
<button class="btn btn-small btn-primary" href="#">A button</button>
<button class="btn btn-small btn-tertiary" href="#">A button</button>
<button class="btn btn-small disabled" href="#">A button</button>
<button class="btn btn-large" href="#">A button</button>
<button class="btn btn-large btn-primary" href="#">A button</button>
<button class="btn btn-large btn-tertiary" href="#">A button</button>
<button class="btn btn-large disabled" href="#">A button</button>

<input type="submit" class="btn" value="A button">
<input type="submit" class="btn btn-primary" value="A button">
<input type="submit" class="btn btn-tertiary" value="A button">
<input type="submit" class="btn disabled" value="A button">
<input type="submit" class="btn btn-small" value="A button">
<input type="submit" class="btn btn-small btn-primary" value="A button">
<input type="submit" class="btn btn-small btn-tertiary" value="A button">
<input type="submit" class="btn btn-small disabled" value="A button">
<input type="submit" class="btn btn-large" value="A button">
<input type="submit" class="btn btn-large btn-primary" value="A button">
<input type="submit" class="btn btn-large btn-tertiary" value="A button">
<input type="submit" class="btn btn-large disabled" value="A button">

<% content_for :aside do # stuff in sidebar %>
<% end %>

<% content_for :footerassets do # assets before </body> %>

<script>
$(document).ready(function () {
  $('#wrapper').show().addClass('fadeIn');
}); // document.ready
</script>

<% end %>