---
title: Luna Bear
description: 
---

<% content_for :headassets do # assets for <head> %>
<% end %>

<h1>Luna Bear</h1>
<p>Luna is a Spanish Water Dog, <i>El Perro de Agua Espa&ntilde;ol</i>, a rare dog breed in the United States. She is a medium-sized working dog with a curly coat, often mistaken for a Labradoodle. The Obamas have a similar breed, a Portugese Water Dog, which is more like a Poodle. Luna&rsquo;s coat is hypo-allergenic and doesn&rsquo;t shed. If left uncut, her coat would grow out into long cords.</p>
<p>Spanish Water Dogs are very active breeds. Luna enjoys swimming and retrieving with enless excitement. I&rsquo;ve seen her pointing on occasion, and she has a strong herding instinct.</p>

<% content_for :aside do # stuff in sidebar %>
<% end %>

<% content_for :footerassets do # assets before </body> %>

<script>
$(document).ready(function () {
  $('#wrapper').show().addClass('fadeIn');
}); // document.ready
</script>

<% end %>