---
title: Resume
description: 
---

<% content_for :headassets do # assets for <head> %>
<% end %>

<h1><%= data.page.title %></h1>

<h3>Currently</h3>
<h2><span>Senior User Experience Designer</span>, <i>Fidelity Investments</i></h2>
<p>March 2011 &ndash; Present</p>
<p>I&rsquo;m part of an in-house UX team focused on improving the employee experience with technology. We&rsquo;ve created several applications including:</p>
<ul>
  <li>A portal that organizes tech support articles, product communities, and other self-help resources</li>
  <li>An appointment scheduler &amp; check-in application for on-site tech support</li>
  <li>A lightweight project dashboard that reports &ldquo;just enough&rdquo; details to management</li>
</ul>
<p>I&rsquo;m also the lead designer of an app for managing Fidelity&rsquo;s private cloud computing infrastructure.</p>
<p><a href="#linkedin">Full History on LinkedIn</a></p>

<hr>

<h3>Props</h3>
<blockquote>
  <p>Matt is an extremely bright and talented professional I had the priviledge of managing during my tenure at Clark Consulting. Matt took the lead role in the analysis and redesign of our plan sponsor and participant web applications. Navigating a complex and sensitive enterprise level initiative, Matt was able to effectively bridge communication between technology and the business, bring transparency to the process and gain the support of senior management in a difficult environment.</p>
  <p>In his role as Internet Marketing Analyst, Matt provided tremendous insight to the organization in terms of design, interactive marketing and business process. Matt was a pleasure to have as part of the team and I would strongly recommend him to any organization.</p>
</blockquote>
<p>&mdash;<cite title="Tim was my direct manager at Clark Consulting">Tim Fahey, <i>Director of Segment Marketing @ Clark Consulting</i></cite></p>
<blockquote>
  <p>Matt Hubing worked with our editorial team to build two of the most effective employee communication channels I&rsquo;ve ever seen. <i>Kurt&rsquo;s Corner</i> and <i>The Watercooler</i> were built from scratch on a tight deadline and succeeded because of Matt&rsquo;s ability to fit content and design together in a seamless package that attracted and engaged the audience. The communications captured the essence of our president&rsquo;s personality and the culture of the company.</p>
  <p>Matt is smart, focused and understands the needs of all stakeholders. He works well under pressure and budget constraints. He knows the importance of process, when to be flexible and when to take a stand. His gift is the ability to integrate all of these factors while improving and enhancing the original concept.</p>
  <p>I can recommend him highly as someone who works intuitively and skillfully with content providers, copywriters and editors. It would be my great fortune to work with Matt again someday.</p>
</blockquote>
<p>&mdash;<cite title="Robert was an indirect manager at Clark Consulting">Robert R. Frump, <i>Editorial Director @ Clark Consulting</i></cite></p>
<blockquote>
  <p>Matt came to Clark Consulting with a strong understanding of the web space and was able to quickly master the complexities of Clark Consulting&rsquo;s business. Matt brought to the table a maturity and work ethic that will serve him well in his corporate career.</p>
  <p>Although Matt was hired as an internet marketing analyst he was able to quickly absorb, understand, and synthesize the broader marketing strategy into his daily job. Matt was instrumental in developing Clark Consulting&rsquo;s sponsor and participant website strategy and guided the development through the intricate maze of corporate development with skill and ease.</p>
</blockquote>
<p>&mdash;<cite title="James was was an indirect manager at Clark Consulting">James Shin, <i>Director of Strategic Marketing @ Clark Consulting</i></cite></p>
<blockquote>
  <p>Matt brought a fresh perspective to the table which assisted the push for consistency across all of Interstate&rsquo;s websites. He helped create an improved framework which helped solidify better coding practices across the content sites, thus improving multiple facets of the enterprise development process. Matt&rsquo;s largest contribution came from his effective visual designs which included flash header designs, internal forms, and user experience suggestions. Users provided immediate positive response to the design changes. His diligence on providing clear comps for initial designs assisted in communication throughout the projects he worked on with our groups.</p>
</blockquote>
<p>&mdash;<cite title="Philip was a major internal client of mine at Interstate Batteries">Philip Lockhart, <i>Director of eCommerce @ Interstate Batteries</i></cite></p>
<blockquote>
  <p>As a freelance web developer I have had the pleasure of working with Matt on numerous projects and found him to be talented, organized, and professional. He was always attentive to clients needs and did an excellent job of managing deadlines. I also found him to be honest and forthcoming. I would highly recommend Matt for employment as he would be a great asset to any organization.</p>
</blockquote>
<p>&mdash;<cite title="Allan was my primary developer at Zahra Design Group">Allan Weghorst, <i>Owner/Web Developer @ Light Bits</i></cite></p>

<% content_for :aside do # stuff in sidebar %>
<% end %>

<% content_for :footerassets do # assets before </body> %>

<script>
$(document).ready(function () {
  $('#wrapper').show().addClass('fadeIn');
}); // document.ready
</script>

<% end %>